<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookieDemonstration</title>
    <style>
        * {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>

    <div style="width:600px; margin:0px auto; margin-top:50px;text-align:center;">
        @RenderBody()
    </div>
</body>
</html>